<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<style>
		table,
		th,
		td {
			border: 1px solid;
		}
	</style>
</head>

<body>
	<h2>THÔNG TIN KHÁCH HÀNG</h2>
	<div>
		<form th:action="@{/home}" method="post">
			Tìm kiếm theo tên :<input maxlength="64" type="text" name="tencodau">
			<button type="submit"> Search</button>
		</form>
	</div>
	<table>
		<div th:if="${not #lists.isEmpty(tk)}">
			<div >
				<tr>
					<th>ID</th>
					<th>Tên Cô Dâu</th>
					<th>Tên Chú Rễ</th>
					<th>Số Lượng Bàn</th>
					<th>Đơn Giá</th>
					<th>Gói Dịch Vụ</th>
					<th>Tiền Đặt Cọc</th>
					<th>Tiền Thanh Toán</th>
					<th>Ghi Chú</th>
					<th>Ngày Tổ Chúc</th>
				</tr>
				<tbody th:each="tk : ${tk}">

					<td th:text="${tk.id}"></td>
					<td th:text="${tk.tencodau}"></td>
					<td th:text="${tk.tenchure}"></td>
					<td th:text="${tk.soluongban}"></td>
					<td th:text="${tk.dongia}"></td>
					<td th:text="${tk.dichvudikem}"></td>
					<td th:text="${tk.tiendatcoc}"></td>
					<td th:text="${tk.tienthanhtoan}"></td>
					<td th:text="${tk.ghichu}"></td>
					<td th:text="${tk.thongtinthiepcuoi}"></td>
				</tbody>

			</div>
		</div>
		<div th:if="${#lists.isEmpty(tk)}">
			Không tìm thấy
		</div>

	</table>

</body>

</html>