<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

  <context id="DB2Tables" targetRuntime="MyBatis3">
    <jdbcConnection driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver"
        connectionURL="jdbc:sqlserver://localhost:1433;databaseName=nhahang;encrypt=true;trustServerCertificate=true"
        userId="sa"
        password="123123">
    </jdbcConnection>

    <javaTypeResolver >
      <property name="forceBigDecimals" value="false" />
    </javaTypeResolver>

    <javaModelGenerator targetPackage="com.NhaHang.dmNhaHang.model" targetProject="NhaHang">

    </javaModelGenerator>

    <sqlMapGenerator targetPackage="com.NhaHang.dmNhaHang.mapper.sql"  targetProject="NhaHang/src/main/resources">
      <property name="enableSubPackages" value="true" />
    </sqlMapGenerator>

    <javaClientGenerator type="XMLMAPPER" targetPackage="com.NhaHang.dmNhaHang.mapper"  targetProject="NhaHang">
      <property name="enableSubPackages" value="true" />
    </javaClientGenerator>

    <table schema="dbo" tableName="DICHVU" domainObjectName="DICHVU" >

    </table>

  </context>
</generatorConfiguration>