<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">>

<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
</head>

<body>
	<div class="container" id="container">
        <div class="form-container sign-up-container">
            <form th:action="@{/signup}" class="login100-form validate-form" method="post">
                <h1>Create Account</h1>
                
                <span>or use your email for registration</span>
                <input type="text" name="username" placeholder="Name" />
               
                <input type="password" name="password" placeholder="Password" />
                <button>Sign Up</button>
            </form>
        </div>
</body>

</html>